{% extends "base.html" %}

{% block context%}
<h1 class="text-center">¿Esta Seguro de Eliminar a {{ user.get_full_name }}</h1>
<h2 class="text-center">Al Eliminar a "<b>{{ user.get_full_name }}</b>" Se Elimina El Qr</h2>
<div class="container ">
  <div class="text-center mt-2">
    <img id="qr_img" name="{{ object.token.token }}" width="250">
  </div>
  <div class="row mt-1">
    <div class="col-sm-12">
      <label><b>Cedula: &nbsp;</b> {{ object.ci }}</label>
    </div>
    <div class="col-sm-6">
      <label><b>Nombre: &nbsp;</b> {{ object.name }}</label>
    </div>
    <div class="col-sm-6">
      <label><b>Apellido: &nbsp;</b> {{ object.last_name }}</label>
    </div>
    <div class="col-sm-6">
      <label><b>Fecha de Nacimiento: &nbsp;</b> {{ object.birthday }}</label>
    </div>
    <div class="col-sm-6">
      <label><b>Correo Electronico: &nbsp;</b> {{ object.email }}</label>
    </div>
    <div class="col-sm-12">
      <label><b>Direccion: &nbsp;</b> {{ object.address }}</label>
    </div>
    <div class="col-sm-12 text-center mt-4">
     <form action="" method="post">
       {% csrf_token %}
        <button class="btn btn-lg btn-danger" type="submit">Eliminar</button>
        <a href="javascript:history.back()" class="btn btn-success btn-lg">Regresar</a>
     </form>
    </div>
  </div>
</div>
{% endblock %}
